/* PointLine.css */

.container {
	display: flex;
	margin-left: 24px;
  }

  .containerGlue {
	margin-top: -7px;
	margin-right: 12px;
	display: flex;
	flex-direction: column;
	align-items: center;
  }

  .dividerStyle {
	padding-top: 12px;
	margin-left: 12px;
  }

  .dayTextStyle {
	color: #984cf8;
	font-weight: 700;
  }

  .monthTextStyle {
	color: #ded9e6;
  }

  .dash {
	width: 1px;
	background-color: #e3e3e3;
	display: block;
  }
