/* Timeline.css */

.container {
	margin-left: 16px;
	margin-right: 16px;
	height: 100vh;
	background-color: #fdfdfd;
  }

  .listStyle {
	padding-top: 16px;
	width: 100vw;
	max-height: 50vh;
  }

  .contentContainerStyle {
	display: flex;
	align-items: center;
  }

  /* Depending on the specific requirements for `contentInset`, you might need to adjust more styles. */
  .contentInset {
	bottom: 30vh;
  }
